<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvgrmu7qnbtgs7nmxysLSlAyYpKDIOVis</string>
	<key>GCM_SENDER_ID</key>
	<string>253467842526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test3App</string>
	<key>PROJECT_ID</key>
	<string>fir-memo-app-26a9d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-memo-app-26a9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253467842526:ios:4d85a1e4819be4e27a6f4f</string>
</dict>
</plist>